<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="B">
        <meta nama="bisa" content="width-device-width, initial-scale-1.0">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <title>ToDo VueJS</title>
    </head>
    <body>
        <div id="app" class="app">
            <p>{{nama}}</p>
            <p v-if="nama=='Dasar Pemograman'?false:true">Mata Kuliah berhasil diubah!</p>
            <button v-on:click ="ubahnama">Ubah Nama MK</button>
            <input v-on:click="ubahnamamk" value="Tambah List MK" type="submit">
            <input v-model="List" type="text">
            <ul>
                <li v-for="List in matkul">{{List.name}} <a href="#" v-on:click="removeList(List)">Remove</a></li>
            </ul>      
        </div>
        <script>
            var app = new Vue({
                el:"#app",
                data:{
                    nama:"Dasar Pemograman",
                    matkul:[]
                },
                methods:{
                    ubahnama:function(){
                        this.nama="Basis data";
                    },
                    ubahnamamk:function(){
                        var nama = {
                            id: Date.now(),
                            name: this.nama
                        };
                        this.matkul.push(nama);
                        this.nama = '';
                    },
                    RemoveList: function(List){
                        var newList = this.matkul.filter(function(i) {
                            return nama.id !== i.id;
                        });
                        this.matkul = newList;                
                    }
                }     
            });
        </script>
    </body>
</html>